*.o
.*.swp
.*.swo
*.pyc
*.class
*.out
*.egg-info/*
*.egg*

*.png
*.dat
*.h5
*.proto
*.pt
*.pth
*.pro.user*
*/CMakeCache.txt 

*build-*

scala/*/project/*
scala/*/target/*

**/.venv/*
*events.out*
*/.ipynb_checkpoints/*

rust/bin/*
rust/*/target/*
hs/sct_blog2/build/*
hs/sct_blog2/main
rust/lst/bin/*
py/poseRegression/dump/*
*.dump
nim/nimcache/*
nim/*/nimcache/*
scala/pca/dump/*
rust/render/tmp.*
rust/render/z.ppm
rust/render/*.ppm
rust/render/target/*
opencl/*/main

*a.out
cpp/*/build*
cpp/cmaketest/build/*
cpp/ANN/build/*

*.idea*
